.view img, .view video {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.cardRoute>.card{
    width: 100%;
    max-width: 900px;
    max-height: 290px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}