#formModify{
    text-align: center !important;
}
#textEdit{
    text-align: left !important;
}
#chips{
    display: flex !important;
    flex-wrap: wrap !important;
}
#chip{
    margin-left: 2px !important;
    margin-right: 2px !important;
}
#select{
    min-width: 200px !important;
    max-width: 210px !important;
}