#formModify{
    text-align: center;
}
#textEdit{
    text-align: left;
}
#chips{
    display: flex;
    flex-wrap: wrap;
}
#chip{
    margin-left: 2px;
    margin-right: 2px;
}
#select{
    min-width: 200px;
    max-width: 210px;
}
#popup{
    height: 100%;
    z-index: 3;
    display: block;
    width: 100%;
    position: relative;
    padding: initial;
}