#buttonSearch{
    top: 90%;
    display: flex;
    margin: auto;
    border: 1px solid gray;
}

#buttonSearch:hover {
    cursor: help;
    
}

#searchModal{
    background-color: aliceblue
}

#modal {
    z-index: 20  !important;
    top : 50%,
}
#from{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    
}
#time-picker{
    color: white;
    fill:white;
}
.ui-datepicker-prev:hover {
    color: #fff;
}
#to{
    margin-bottom: 5px;
    margin-left: 20px;
    
}
#hour{
    margin-left: 20px;
    margin-bottom: 10px;
}
#buttom{
    align-content: flex-end;
}
#appBar{
    background-color: #02352B
    ;
}
#fab{
    margin-left: 80%;
    margin-top:5%;
    width: 80px;
    height: 80px;
    background-color: #00bfa5;
}
#bar{
    margin-top:1%;
}
